# Please mind that:
# 1. in CODEOWNERS file there is no `/**` syntax but we end catalog without `/` which means whole catalog and subdirs
#    example `dir     @owner` means whole dir and it's subdirectory
# 2. in CODEOWNERS file ending catalog with `/` means "cutoff
#    example `dir     @owner` means whole only dir **without subdirs**
# 3. starting dir from `/` means `from root dir` whereas without means `all such catalogs` (like we would do with extglob `**/`
# 4. Sub groups are marked from organization, not group so we don't have `@mudita/os/embedded-abs` but `@mudita/embedded-abs`

/.github/CODEOWNERS                         @mudita/chapter-leads

# bsp
/board                                      @mudita/chapter-bsp
/module-bsp                                 @mudita/chapter-bsp

# build system
/CMakeLists.txt                             @mudita/chapter-bsp
/third-party/CMakeLists.txt                 @mudita/chapter-bsp
/module-utils/CMakeLists.txt                @mudita/chapter-bsp
/cmake                                      @mudita/chapter-bsp
/test/CMakeLists.txt                        @mudita/chapter-bsp
