[submodule "microtar"]
	path = third-party/microtar/src
	url = ../microtar.git
[submodule "segger"]
	path = third-party/segger
	url = ../segger-utils.git
[submodule "protobuf"]
	path = third-party/protobuf/src
	url = ../protobuf.git
	branch = rt1051
	shallow = true
[submodule "libphonenumber"]
	path = third-party/libphonenumber/src
	url = ../libphonenumber.git
	branch = rt1051
	shallow = true
[submodule "googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
	branch = 703bd9caab50b139428cea1aaff9974ebee5742e
[submodule "Catch2"]
	path = test/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "date"]
	path = third-party/date
	url = ../date.git
[submodule "taglib"]
	path = third-party/taglib
	url = ../taglib.git
	branch = rt1051
[submodule "btstack"]
	path = module-bluetooth/lib/btstack
	url = ../btstack.git
[submodule "pugixml"]
	path = third-party/pugixml
	url = ../pugixml.git
[submodule "magic_enum"]
	path = third-party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "tinyexpr"]
	path = third-party/tinyexpr/src
	url = https://github.com/codeplea/tinyexpr.git
[submodule "fatfs"]
	path = third-party/fatfs/src
	url = ../fatfs.git
[submodule "lfsfuse"]
	path = host-tools/littlefs-fuse/lfsfuse
	url = https://github.com/littlefs-project/littlefs-fuse.git
[submodule "sml"]
	path = third-party/sml/src
	url = https://github.com/boost-ext/sml
[submodule "misc"]
	path = tools/misc
	url = ../misc-tools.git
[submodule "harness"]
	path = test/harness
	url = ../QAMuditaHarness.git
	shallow = true
[submodule "CrashDebug"]
	path = third-party/CrashDebug/src
	url = https://github.com/adamgreen/CrashDebug.git
[submodule "minimp3"]
	path = third-party/minimp3/minimp3
	url = ../minimp3.git
	branch = RT1051
[submodule "parallel-hashmap"]
	path = third-party/parallel-hashmap/src
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "littlefs"]
	path = third-party/littlefs/src
	url = https://github.com/littlefs-project/littlefs.git
[submodule "gsl"]
	path = third-party/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "re2"]
	path = third-party/re2/src
	url = ../re2.git
	branch = rt1051
[submodule "utz"]
	path = third-party/utz/src/utz
	url = https://github.com/mudita/utz.git
[submodule "base64"]
	path = third-party/base64/src
	url = https://github.com/rafagafe/base64.git
[submodule "hash-library"]
	path = third-party/hash-library/src
	url = https://github.com/mudita/hash-library.git
	branch = rt1051
[submodule "usb_stack"]
	path = third-party/usb_stack
	url = ../usb_stack.git
[submodule "libical"]
	path = third-party/libical/libical
	url = https://github.com/mudita/libical
[submodule "klib"]
	path = third-party/klib/src
	url = https://github.com/attractivechaos/klib.git
[submodule "lwext4"]
	path = third-party/lwext4/lwext4
	url = ../lwext4.git
	branch = mudita
[submodule "third-party/dr_libs/src"]
	path = third-party/dr_libs/src
	url = https://github.com/mudita/dr_libs.git
[submodule "reliance-edge"]
	path = third-party/reedgefs/src
	url = ../reliance-edge.git
    branch = mudita
