
build/

.vscode/ipch

lib/

#no env.cmake
env.cmake

config/config_target\.h

OzoneJlink\.jdebug\.user

#no eclipse please
.cproject
.project
.settings/

build-linux/

build-rt1051/

\.idea/vcs\.xml

\.idea/workspace\.xml

src/git-fame

compile_commands.json
source/version.hpp
**/*.pyc
