[submodule "module-gui"]
	path = module-gui
	url = git@github.com:muditacom/module-gui.git
[submodule "module-utils"]
	path = module-utils
	url = git@github.com:muditacom/module-utils.git
	branch = master
[submodule "module-sys"]
	path = module-sys
	url = git@github.com:muditacom/module-sys.git
	branch = master
