.clangd
doc/docs-gui/

build-*/
.vscode/ipch

lib/

#no env.cmake
env.cmake

config/config_target\.h
config/*.tgz

OzoneJlink\.jdebug\.user

#no eclipse please
.cproject
.project
.settings/


\.idea/vcs\.xml
\.idea/workspace\.xml
\.idea/codeStyles/

src/git-fame

compile_commands.json
source/version.hpp
**/*.pyc
./doc/docs-gui/
