.clangd
doc/docs-gui/

build-*/
MuditaOS.log
.vscode/ipch
.vscode/.cortex-debug.*

lib/

env.cmake

config/config_target\.h
config/*.tgz

OzoneJlink\.jdebug\.user

#no eclipse please
.cproject
.project
.settings/

\.idea/vcs\.xml
\.idea/workspace\.xml
\.idea/codeStyles/
\.idea/inspectionProfiles/

src/git-fame

compile_commands.json
source/version.hpp
**/*.pyc
./doc/docs-gui/

docker/cmake-3.17.0-Linux-x86_64.tar.gz
docker/gcc-arm-none-eabi-9-2019-q4-major-x86_64-linux.tar.bz2

LAST_STEP
.gdb_history
CMakeLists.txt.user
config/runner_settings
docker/Dockerfile.runner
docker/Dockerfile
docker/assets/actions*
docker/assets/cmake*
docker/assets/gcc-arm*
docker/assets/requirements*

# vim temporary files
*.swp
*.swo
tags
.ycm_extra_conf.py

update/*

# build in docker files
.ccache/
.bash_history

# often created by the visual studio code
/null.d

test/test_env
image/luts.bin
image/assets/fonts/*
