name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        token: ${{ secrets.GitHub_PAT }}
        submodules: true
    - name: Style Linter Setup
      run: |
        sudo apt-get update && sudo apt-get install -y clang-format-9
    - name: Style Check
      run: |
        ./config/pre-commit-check-only.hook --last
    - name: Run bootstrap & Build
      run: |
        echo "Install neccessary packages"
        ./config/bootstrap.sh 3-
    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@2.0.0
    - name: Build
      run: |
        sudo apt-get -q -y remove cmake
        cat ~/.bashrc
        . ~/.bashrc
        echo "gcc_arm_none_eabi_9_2019_q4_major_PATH: $gcc_arm_none_eabi_9_2019_q4_major_PATH"
        ./configure.sh rt1051 Release && make -C  build-rt1051-Release -j4

