name: CI

on: [pull_request]

jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Check Out
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.GitHub_PAT }}
        submodules: false
        fetch-depth: 0
    - name: "Copyright notice check"
      run: |
        config/license_header_check.sh --ci --check-only
    - name: "Style checking"
      run: |
        ./config/style_check_hook.sh --last
    - name: "Unit Tests"
      run: |
        ./configure.sh linux Debug && \
        pushd build-linux-Debug && \
        export JOBS=${JOBS:-`nproc`} &&\
        echo "JOBS=${JOBS}" &&\
        make -j ${JOBS} check && \
        popd 
    - name: "Build for RT1051"
      run: |
        ./configure.sh rt1051 Release && \
        pushd build-rt1051-Release && \
        export JOBS=${JOBS:-`nproc`} && \
        echo "JOBS=${JOBS}" && \
        make -j ${JOBS} && \
        popd && \
        uptime
